<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
    <p>{{token}}</p>
    <ion-button expand="full" color="Primary" (click)="requestPermissions()">Habilitar push</ion-button>
<ion-list>
  <ion-card *ngFor="let item of items | async">
    <ion-title>{{item.token}}</ion-title>
    <ion-button (click)="onClick()" fill="clear">
      <ion-icon slot="center" name="send"></ion-icon>
    </ion-button>
  </ion-card>
</ion-list>
  </div>
</ion-content>
